
body {
  margin: 0;
  min-height: 100vh;
  background: url("./assets/TodoMiku.jpg") no-repeat center center fixed;
  background-size: cover; /* ensures full fit */
  font-family: sans-serif;
}

.todo-item {
  flex: 0 1 auto;
  width: 250px;
  position: relative;
  padding: 1rem;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  word-wrap: break-word;
  box-sizing: border-box;
  z-index: 0;
}

.todo-item::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  z-index: -1;
  border-radius: 16px;
  background: linear-gradient(135deg, lightblue, purple);
}
